<!DOCTYPE html>{% extends "layout_mat.html" %}
{% load static %}

{% block css %}
<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static "css/bandejao.css" %}">
{% endblock %}

{% block javascript %}
<script src='//cdn.goroost.com/roostjs/orlbbgkudkv3wu6l1gjje6u79tpdof86' async></script>
<script src='{% static "js/bandejao.js" %}' async></script>
<script src='{% static "js/date.js" %}' async></script>
{% endblock %}

{% block title %}Bandejão{% endblock %}

{% block content %}

	<div class="row scrollspy white-opacity grey-text center-align" id="proxima">
		<br/>
		<h3><div class="rotate"><i class="mdi-action-settings"></i></div> Em construção</h3>
		<br/>
	</div>

	<br/>
	<br/>
	<br/>

	<div class="row scrollspy white-opacity" id="proxima">
		<br/>
		<div class="container">
			<h4 class="grey-text"><small>Próxima Refeição:</small><span class="right" id="pro-data"></span></h4>
			<h4 class="bandejao-red-text"><img src="{% static "img/bandejao/sun@3x.png" %}" width="30" alt=""> <span id="pro-p"></h4>

	  		<div class="divider"></div>
			{% include "main/bandejao/refeicao.html" with short="pro"  periodo="" periodo_f="refeição"%}
			<div class="divider"></div>
			<br/>
		</div>
		<br/>
	</div>

    	<br/>
    	<br/>

  <div class="row scrollspy" id="dias">
    <div class="col s12 white">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#segunda">Segunda</a></li>
        <li class="tab col s3"><a href="#terca">Terça</a></li>
        <li class="tab col s3"><a href="#quarta">Quarta</a></li>
        <li class="tab col s3"><a href="#quinta">Quinta</a></li>
        <li class="tab col s3"><a href="#sexta">Sexta</a></li>
        <li class="tab col s3"><a href="#sabado">Sábado</a></li>
      </ul>
    </div>

    <div id="segunda" class="col s12 white-opacity">
    	<div class="container">
		<br/>
		{% include "main/bandejao/dia.html" with short="seg"  nome="Segunda-Feira"%}
		<br/>
		</div>
    </div>
    <div id="terca" class="col s12 white-opacity ">
    	<div class="container">
    	<br/>
		{% include "main/bandejao/dia.html" with short="ter"  nome="Terça-Feira"%}
    	<br/>
		</div>
    </div>
    <div id="quarta" class="col s12 white-opacity">
    	<div class="container">
    	<br/>
		{% include "main/bandejao/dia.html" with short="qua"  nome="Quarta-Feira"%}
		<br/>
		</div>
    </div>
    <div id="quinta"class="col s12 white-opacity">
    	<div class="container">	
    	<br/>	
    	{% include "main/bandejao/dia.html" with short="qui"  nome="Quinta-Feira"%}
    	<br/>
    	</div>
    </div>
    <div id="sexta" class="col s12 white-opacity">
    	<div class="container">
    	<br/>
		{% include "main/bandejao/dia.html" with short="sex"  nome="Sexta-Feira"%}
		<br/>
		</div>
    </div>
    <div id="sabado" class="col s12 white-opacity">
    	<div class="container">
    	<br/>
		{% include "main/bandejao/dia.html" with short="sab"  nome="Sábado"%}
		<br/>
		</div>
    </div>
  </div>

    	<br/>
    	<br/>
    	<br/>
    	<br/>


  <!-- Modal Structure -->
  <div id="modal_load" class="modal">
    <div class="modal-content">
      <h4>Carregando informações...</h4>
      <div class="preloader-wrapper small active">
	    <div class="spinner-layer spinner-red-only center-align">
	      <div class="circle-clipper left">
	        <div class="circle"></div>
	      </div><div class="gap-patch">
	        <div class="circle"></div>
	      </div><div class="circle-clipper right">
	        <div class="circle"></div>
	      </div>
	    </div>
	  </div>
    </div>
  </div>

{% endblock %}
