{% load static %}

		<h5 class="lh26"><img src="{% static "img/bandejao/salada@3x.png" %}" width="30" alt=""> <span id="{{ short }}{{ periodo}}-sal">{% include "main/bandejao/load.html" %}</span></h5>
		<h5 class="lh26"><img src="{% static "img/bandejao/principal@3x.png" %}" width="30" alt=""> <span id="{{ short }}{{ periodo}}-pri">{% include "main/bandejao/load.html" %}</span></h5>
		<h5 class="lh26"><img src="{% static "img/bandejao/complemento@3x.png" %}" width="30" alt=""> <span id="{{ short }}{{ periodo}}-com">{% include "main/bandejao/load.html" %}</span></h5>
		<h5 class="lh26"><img src="{% static "img/bandejao/sobremesa@3x.png" %}" width="30" alt=""> <span id="{{ short }}{{ periodo}}-sob">{% include "main/bandejao/load.html" %}</span></h5>