@charset "UTF-8";
/* CSS Document */

body{
}

section{
	background-image: url(/static/img/bandejao/bkg.jpg);
	padding-top: 100px;
}

.white-opacity{
	background-color: rgba(255,255,255,0.9);
}

.mypad{
	padding-top: 20px;
	padding-bottom: 20px;
}

.row {
    margin-bottom: 0;
}

footer.page-footer {
    margin-top: 0;
    padding-top: 0;
}

.my_load{
	padding-top: 14px;
}

.my_load:hover{
	background-color: transparent;
}

.cabecalho{
	background: #9f0100; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlmMDEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2MzMWUwMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #9f0100 0%, #c31e03 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9f0100), color-stop(99%,#c31e03)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9f0100 0%,#c31e03 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9f0100 0%,#c31e03 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9f0100 0%,#c31e03 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #9f0100 0%,#c31e03 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f0100', endColorstr='#c31e03',GradientType=0 ); /* IE6-8 */
}

.bandejao-red{
	background-color: #9f0100;
}

.parallax-container:nth-of-type(1){
	height: 100px;
}

.parallax-container{
	height: 200px;
}

nav.pushpin{
	z-index: 5;
}

nav.pushpin.pinned{
}

.lh26:nth-child(odd) img{
	margin-bottom: 0;
	vertical-align: bottom;
}

.lh26:nth-child(even) img{
	margin-bottom: 4px;
	vertical-align: bottom;
}
.lh26 img{
	margin-right: 5px;
}