{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    {% block css %}{% endblock %}

    <meta charset="UTF-8" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Paulo Moreno - {% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Header and Search -->
    <header>
        <div class="deep-purple lighten-5 cabecalho">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <img class="left mylogo hide-on-small-only" src="{% static "img/bandejao/bandejao_logo.png" %}" height="116" alt="logo">                        
                        <img class="left mylogo hide-on-med-and-up" src="{% static "img/bandejao/bandejao_logo.png" %}" height="56" alt="logo">
                        <span class="beta left orange lighten-1 hide-on-small-only">beta</span>
                        <span class="sbeta left orange lighten-1 hide-on-med-and-up">beta</span>
                        <p class="white-text flow-text"> O que tem no Bandejão Hoje?</p>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <!-- Nav bar -->
    <nav class="bandejao-red row">
        <div class="container">
            <div class="nav-wrapper">
                <!-- Navbar logo -->
                <!-- Collapse button -->
                <a href="#" data-activates="collapsednavbar" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <!-- Navbar links -->
                <ul class="hide-on-med-and-down"> 
                    <li><a href="#proxima">Próxima Refeição</a>
                    </li>  
                    <li><a class="btn_seg" href="#dias">Outros Dias</a>
                    </li>               
                    <li><a class="btn_sab" href="app/">iPhone App</a>
                    </li> 

                </ul>
                <!-- Navbar collapsed links -->
                <ul id="collapsednavbar" class="side-nav">
                    <li><a href="#proxima">Próxima Refeição</a>
                    </li>                      
                    <li class="divider"></li>
                    <li><a class="btn_seg" href="#dias">Outros Dias</a>
                    </li>             
                    <li class="divider"></li>
                    <li><a class="btn_sab" href="app/">iPhone App</a>
                    </li> 
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Layout -->
   <section>
         {% block content %}{% endblock %}
   </section>

    <!-- Footer -->
    <footer class="page-footer cabecalho">
        <div class="container">

        </div>
        <div class="footer-copyright bandejao-red">
            <div class="container center-align">
                © 2015 Paulo Moreno
            </div>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

    {% block javascript%}{% endblock %}

</body>

</html>